.category-container {
  font-family: 'Raleway';
  max-width: 1440px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

.category-title {
  font-size: 2.625rem;
  font-weight: 400;
  text-transform: capitalize; 
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6.4375rem;
  column-gap: 2.5rem;

  justify-items: center;
}

@media only screen and (max-width: 1350px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 920px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
