.category-container {
  margin-top: 80px;
  font-family: 'Raleway';
  max-width: 1440px;
}

.category-title {
  font-size: 2.625rem;
  font-weight: 400;
  text-transform: capitalize; 
}

.products-container {
  /* Flex-box */

  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */

  /* Grid */

  display: grid;
  grid-template-columns: 33% 33% 33%;
  row-gap: 6,4375rem;
  column-gap: 2.5rem;
}