@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


/*==============================*/
/* ===== Mini-cart styles ===== */

.mini-cart-container {
  position: fixed;
  font-size: 1rem;
  font-weight: 500;
  top: 4.875rem;
  width: max-content;
  background-color: white;
  right: 4.5rem;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  z-index: 100;
  box-sizing: border-box;
  width: 20.3125rem;
  padding: 1.875rem 1rem 0 1rem;
  max-height: 30rem;
  overflow: auto;
  color: #1D1F22;
}

  /* Hide scrollbar for Chrome, Safari and Opera */
.mini-cart-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mini-cart-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.mini-cart-background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 4.875rem;
  left: 0;
  background-color: rgba(57, 55, 72, 0.22);
  z-index: 99;
}


.mini-cart-container__cart-head {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.mini-cart-container__cart-head__bold {
  font-weight: 700;
}

.mini-cart-container__cart-head__light {
  font-weight: 500;
}

.mini-cart-container__total {
  font-family: 'Roboto';
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.mini-cart-container__buttons-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.mini-cart-container__buttons-container__view-bag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1D1F22;
  width: 8.75rem;
  height: 2.625rem;
  border: solid 0.0625rem #1D1F22;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
}

.mini-cart-container__buttons-container__checkout {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  color: #FFF;

  width: 8.75rem;
  height: 2.625rem;
  box-sizing: border-box;
  background-color: #5ECE7B;

  cursor: pointer;
}

/*==============================*/
/* ===== Big cart styles ===== */