@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.attributes_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
}

.attributes__name {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1rem;
  margin: 0;
  margin-right: 0.5rem;
}

.attributes {
  margin: 0;
  margin-top: 1.25rem;
}


.product-page-container {
  display: flex;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  justify-content: space-between;
  font-family: 'Raleway';
  border-top: 0.0625rem solid #E5E5E5;
}

.product-name {
  margin: 0 0.5rem 0.25rem 0;
  font-style: normal;
  font-size: 1.875rem;
  font-weight: 400;
}

.product-price {
  margin: 1.25rem 0 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.product-price-block {
  margin-top: 2.25rem;
}


