@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

.product-page-container {
  display: flex;
  margin-bottom: 2rem;
  /* justify-content: space-around; */
  justify-content: center;
  font-family: 'Raleway';
  color: #1D1F22;
  margin-top: 5rem;
}


.product-page-img-block {
  flex-shrink: 1;
  display: flex;
  min-width: 0;
  margin-right: 3rem;
}

.img-preview-block {
  margin-right: 1rem;
}

.big-img-container {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 1;
  min-width: 0;
  width: 35rem;

  height: fit-content;
  position: relative;
  transform: scaleX(1);
}

.big-img {
  max-width: 35rem;
  min-width: 0;
}

.product-page-out-of-stock {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #8D8F9A;
  font-weight: 400;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
}

.product-page-main-info{
  width: 18rem;
}

.attributes {
  margin: 0;
  margin-top: 2.625rem;
}

.attributes_list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%;
  flex-wrap: wrap;
}

.attributes__name {
  font-family: 'Roboto Condensed';
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1rem;
  margin: 0;
  margin-right: 0.5rem;
}

.product-brand {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 0 0.5rem 1rem 0;
}

.product-name {
  margin: 0 0.5rem 0 0;
  font-style: normal;
  font-size: 1.875rem;
  font-weight: 400;
}

.product-price {
  margin: 1.25rem 0.5rem 0 0;
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
}

.product-price-block {
  margin-top: 2.25rem;
}

.product-page-add-to-cart-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 1rem;
  color: #FFF;

  width: 17.5rem;
  height: 2.625rem;
  box-sizing: border-box;
  margin-top: 1.25rem;
  background-color: #5ECE7B;

  cursor: pointer;
  margin-right: 0.5rem;
}

.product-page-add-to-cart-button-not-active {
  background-color: grey;
  cursor: unset;
}

.product-page-desctiption {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 1rem;
  margin-top: 2.5rem;
  margin-right: 0.5rem;
}