.product-preview-gallery-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.product-preview-gallery-img {
  max-width: 5rem;
  cursor: pointer;
}

.product-preview-gallery-img-container:nth-of-type(1) {
  margin-top: 0;
}