/* header-container */

.header-container {
  position: relative;
  height: 80px;
}

/* header-space */

.header-space {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

/* Header */

.header {
  background-color: white;
  position: fixed;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: calc(100% - 202px);
  max-width: 1440px;
  height: 80;
  z-index: 99;
}

.header-nav {
  background-color: white;
  height: 100%;

  font-size: 1rem;
  font-family: 'Raleway';
  font-weight: 400;
  color: black;
  
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

/* Left side of the nav */

.header-nav-left a {
  color: black;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 28px 16px 30px 16px;
  border-bottom: 2px solid white;
}

.header-nav-left a.active, .header-nav-left a:hover {
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
  font-weight: 600;
}

.header-nav-left {
  display: inline-block;
}

/* Logo */

.header-nav-logo {
  width: 2.5625rem;
  height: 2.5625rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

/* Right side of the nav */

.header-nav-right {
  height: 100%;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.header-nav-currency-arrow {
  height: 0.1875rem;
  width: 0.375rem;
  padding-left: 0.625rem;
}

.header-nav-currency-arrow-down {
  transform: rotate(0.5turn);
  padding-left: 0;
  padding-right: 0.625rem;
}

.header-nav-currency-arrow-up {
  transform: none;
}

.header-nav-cart {
  width: 1.25rem;
  height: 1.125rem;
  margin-top: 0.3125rem;
  margin-left: 1.375rem;
}

.header-nav-cart:hover {
  cursor: pointer;
}

.header-nav-right-cart-div {
  position: relative;
  transform: scaleX(1);
}

.header-nav-cart-counter {
  position: fixed;
  top: -0.3125rem;
  right: -0.625rem;
  background-color: black;
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;

  color: white;
  font-size: 0.875rem;
  font-weight: 700;

  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
}

.header-nav-cart-counter:hover {
  cursor: pointer;
}

/* For CurrencyList */

.header-nav-currency-container {
  position: relative;
  transform: scaleX(1);
}

.header-nav-currency:hover {
  cursor: pointer;
}

