@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

.header {
  background-color: white;
  position: fixed;
  display: block;
  width: 100%;
  max-width: 1440px;
  height: 80px;
  top: 0;
  z-index: 99;
}

.header-nav {
  background-color: white;
  height: 100%;

  font-size: 1rem;
  font-family: 'Raleway';
  font-weight: 400;
  color: black;
  
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

/* Left side of the nav */

.header-nav-left a {
  color: black;
  display: inline-block;
  text-decoration: none;
  padding: 28px 16px 30px 16px;
  border-bottom: 2px solid white;
}

.header-nav-left a.active, .header-nav-left a:hover {
  color: #5ECE7B;
  border-bottom: 2px solid #5ECE7B;
  font-weight: 600;
}

.header-nav-left {
  margin-left: 101px;
  display: inline-block;
}

/* Logo */

.header-nav-logo {
  width: 2.5625rem;
  height: 2.5625rem;
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

/* Right side of the nav */

.header-nav-right {
  height: 100%;
  margin-right: 101px;
  display: inline-block;
  font-size: 1.125rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.header-nav-currency-arrow {
  height: 0.1875rem;
  width: 0.375rem;
  padding-left: 0.625rem;
}

.header-nav-cart {
  width: 1.25rem;
  height: 1.125rem;
  margin-top: 0.3125rem;
  margin-left: 1.375rem;
}