@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.cart-item__attributes__list__the-color-attribute-container {
  width: 1.25rem;
  height: 1.25rem;
  border: 0.0625rem solid #5ECE7B;
  box-sizing: border-box;
  
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 0.5rem;
}

.cart-item__attributes__list__the-color-attribute-container__color-attribute {
  min-width: 0.9375rem;
  min-height: 0.9375rem;
  cursor: pointer;
}

.cart-item__attributes__list__color-attribute {
  min-width: 1rem;
  min-height: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.cart-item__attributes__list__the-attribute {
  box-sizing: border-box;
  min-width: 1.5rem;
  min-height: 1.5rem;
  padding: 0 0.1875rem;
  margin-right: 0.5rem;
  background-color: #1D1F22;
  color: #FFFFFF;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
}

.cart-item__attributes__list__attribute {
  box-sizing: border-box;
  min-width: 1.5rem;
  min-height: 1.5rem;
  padding: 0 0.1875rem;
  border: 0.0625rem solid #1D1F22;
  margin-right: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  color: #1D1F22;
}