.mini-cart-container {
  position: fixed;
  font-size: 1.125rem;
  font-weight: 500;
  top: 4.875rem;
  width: max-content;
  background-color: white;
  right: 4.5rem;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
  z-index: 100;
  box-sizing: border-box;
  width: 20.3125rem;
  padding: 1.875rem 1rem 0 1rem;
  height: 30rem;
  overflow: auto;
  color: #1D1F22;
}

  /* Hide scrollbar for Chrome, Safari and Opera */
.mini-cart-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.mini-cart-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.mini-cart-background {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 4.875rem;
  left: 0;
  background-color: rgba(57, 55, 72, 0.22);
  z-index: 99;
}



.mini-cart-container__cart-head {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.mini-cart-container__cart-head__bold {
  font-weight: 700;
}

.mini-cart-container__cart-head__light {
  font-weight: 500;
}